In [ ]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession

spark = SparkSession.builder.appName("ETL Builder").getOrCreate()
source_path = "/content/orders (1).csv"
target_path = "/content/orders_result.csv"
load_data = spark.read.csv(source_path, header= True, inferSchema = True)

In [ ]:
load_data.columns
load_data.show()

+-------+----------+----------+----------+-----------+
|cust_id|cust_fname|cust_lname|cust_order|cust_status|
+-------+----------+----------+----------+-----------+
|      1|      john|       doe|         5|     active|
|      2|      jane|     smith|         8|     active|
|      3|   micheal|   jhonson|         3|   inactive|
|      4|      abhi|   wiliams|         1|     active|
|      5|       ram|     brown|         4|   inactive|
|      6|     emily|  anderson|         2|     active|
|      7|   william|     jones|        10|     active|
|      8|     susan|     davis|         7|   inactive|
|      9|     david|    miller|         9|     active|
|     10|      sara|     moore|         2|   inactive|
|     11|     james|    tailor|         5|   inactive|
|     12|    olivia|    wilson|         3|   inactive|
|     13|    robert|     evans|        11|     active|
|     14|      emma|    thomas|        29|     active|
|     15|    mathew|     haris|         5|   inactive|
|     16|  isabella|     white|         6|   inactive|
|     17|    joseph|    martin|         4|   inactive|
|     18|     grace|       lee|         5|     active|
|     19|chrisopher|      basa|         8|   inactive|
|     20|       ava|    joesph|         3|     active|
+-------+----------+----------+----------+-----------+

In [ ]:
from pyspark.sql.functions import col, concat, lit
load_data = load_data.withColumn("cust_name", concat(col("cust_fname"), lit(" "), col("cust_lname")))

In [ ]:
load_data.show()

+-------+----------+----------+----------+-----------+---------------+
|cust_id|cust_fname|cust_lname|cust_order|cust_status|      cust_name|
+-------+----------+----------+----------+-----------+---------------+
|      1|      john|       doe|         5|     active|       john doe|
|      2|      jane|     smith|         8|     active|     jane smith|
|      3|   micheal|   jhonson|         3|   inactive|micheal jhonson|
|      4|      abhi|   wiliams|         1|     active|   abhi wiliams|
|      5|       ram|     brown|         4|   inactive|      ram brown|
|      6|     emily|  anderson|         2|     active| emily anderson|
|      7|   william|     jones|        10|     active|  william jones|
|      8|     susan|     davis|         7|   inactive|    susan davis|
|      9|     david|    miller|         9|     active|   david miller|
|     10|      sara|     moore|         2|   inactive|     sara moore|
|     11|     james|    tailor|         5|   inactive|   james tailor|
|     12|    olivia|    wilson|         3|   inactive|  olivia wilson|
|     13|    robert|     evans|        11|     active|   robert evans|
|     14|      emma|    thomas|        29|     active|    emma thomas|
|     15|    mathew|     haris|         5|   inactive|   mathew haris|
|     16|  isabella|     white|         6|   inactive| isabella white|
|     17|    joseph|    martin|         4|   inactive|  joseph martin|
|     18|     grace|       lee|         5|     active|      grace lee|
|     19|chrisopher|      basa|         8|   inactive|chrisopher basa|
|     20|       ava|    joesph|         3|     active|     ava joesph|
+-------+----------+----------+----------+-----------+---------------+